
.projects-center{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1rem;
    justify-content: center;
}


.card{
    border-radius: 22px;
    padding: 0.5rem;
    border: 1px solid var(--primary);
    width: 350px;
    height: 230px;
    position:relative;
}

.card__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    position: absolute;
    bottom: 10px;
}

.card__title{
text-align: center;
font-size: 1.2rem;
font-weight:bold;
color:var(--primary);
margin-bottom:0.5rem;
}

.card__description{
    text-align: center;
    color: var(--grey-text);
    font-size:1rem;
    margin-bottom:0.5rem;
}

.card__buttons{
    display:flex;
    gap:1rem;
    justify-content: space-evenly;
}


.card__buttons a{
    border: 1px solid var(--primary);
    border-radius: 5px;
    color: var(--grey-text);
    font-size: 1.1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.card__buttons a:hover{
    background-color: var(--primary);
    color:white;
}

.card__size{
color:var(--grey-text);
margin-right: 50px;
}

.sausage{
color:var(--primary);
text-transform: capitalize;
}

.filters__form{
    display:flex;
    flex-direction:row;
    gap:2rem;
    margin:2rem;
    align-items:center;
    flex-wrap:wrap;
    justify-content: center;
}


.filters__form label{
    margin-left:0.4rem;
}