
.projects-center{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.card{
    background-color: white;
    border-radius: 22px;
    padding:0.5rem;
    border:1px solid var(--primary);
    display:flex;
    flex-direction: column;
    width:400px;
}

.card__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card__title{
text-align: center;
font-size: 2rem;
font-weight:bold;
color:var(--secondary);
}

.card__buttons{
    display:flex;
    gap:1rem;
    justify-content: space-evenly;
}


.card__buttons a{
    border: 1px solid var(--primary);
    border-radius: 5px;
    color: var(--primary);
    background-color: white;
    font-size: 1.1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.card__buttons a:hover{
    background-color: var(--primary);
    color:white;
}

.card__description{
    text-align: center;
    color: var(--primary);
}


.card__size{
color:var(--primary);
}

.card__features--container{
    display:flex;
    gap:0.75rem;
    flex-direction: column;
}

.card__features--title{
color:var(--primary);
}

.card__features--values{
 display:flex;
 flex-direction: row;
 gap:1rem;
 flex-wrap: wrap;
 color:white;
}

.sausage{
color:var(--secondary);
font-weight:bold;
}



