*{
    box-sizing: border-box;
    margin:0px;
}

a{
    text-decoration: none;
}

body{
    background-color: #fffaf7
}

:root{
    --primary:#EBC36A;
    --secondary:#c09a57;
}

.bg-primary{
    background-color: var(--primary);
}

.bg-secondary{
    background-color: var(--secondary);
}