*{
    box-sizing: border-box;
    margin:0px;
}

a{
    text-decoration: none;
}

body{
    background-color: black;
    color:var(--grey-text);
    font-family: "Montserrat", "Helvetica", "sans-serif";
}

:root{
    --primary:#EBC36A;
    --secondary:#c09a57;
    --grey-text:#959595;
    --white-text:white;
}

.bg-primary{
    background-color: var(--primary);
}

.bg-secondary{
    background-color: var(--secondary);
}